<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QLNHEntities" connectionString="metadata=res://*/QLNH_Model1.csdl|res://*/QLNH_Model1.ssdl|res://*/QLNH_Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MD6DN3Q;initial catalog=QLNH;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>